<div class="main">
  <div class="side-box">
   <ul class="lists">
      <li class="list"><a href="#">通過一覧</a></li>
      <li class="list"><a href="#">カレンダー</a></li>
      <li class="list"><a href="#">お知らせ</a></li>
      <li class="list"><a href="#">シナリオ検索</a></li>
    </ul>
  </div>
  <div class="main-box">
    <div class="num">
      登録シナリオ数は○○です
    </div>
    <div class="scenarios">
      <div class="s-title">
        <div class="calm">
          タイトル
        </div>
      </div>
      <div class="people">
        <div class="calm">
          人数
        </div>
      </div>
    </div>
  </div>
</div>