<div class="main">
  <div class="side-box">
   <ul class="lists">
      <li class="list"><a href="#">シナリオ一覧</a></li>
      <li class="list"><a href="#">カレンダー</a></li>
      <li class="list"><a href="#">お知らせ</a></li>
      <li class="list"><a href="#">ユーザー検索</a></li>
    </ul>
  </div>
  <div class="main-box">
    <div class="num">
      ユーザー名の通過シナリオ数は○○です
    </div>
    <div class="pass">
      <div class="title">
        <div class="calm">
          タイトル
        </div>
      </div>
      <div class="environment">
        <div class="calm">
          環境
        </div>
      </div>
      <div class="evaluation">
        <div class="calm">
          シナリオ評価
        </div>
      </div>
      <div class="play-date">
        <div class="calm">
          日付
        </div>
      </div>
    </div>
  </div>
</div>