<div class="main">
  <div class="side-box">
   <ul class="lists">
      <li class="list"><a href="#">シナリオ一覧</a></li>
      <li class="list"><a href="#">カレンダー</a></li>
      <li class="list"><a href="#">お知らせ</a></li>
      <li class="list"><a href="#">ユーザー検索</a></li>
    </ul>
  </div>
  <div class="main-box">
    <div class="num">
      ユーザー名の通過シナリオ数は○○です
    </div>
    <div class="pass">
      <div class="">
    </div>
  </div>
</div>